[submodule "gRPC-haskell"]
	path = gRPC-haskell
	url = https://github.com/awakesecurity/gRPC-haskell.git
[submodule "typedb-protocol"]
	path = lib/protocol
	url = https://github.com/vaticle/typedb-protocol.git
